@import "base.scss";

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition-delay: 0.1s;
}

#app {
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    font-weight: normal;
    background: var(--bg-color);
    color: var(--font-color);
}